In [1]:
import numpy as np
import pandas as pd
import statistics as stats

In [2]:
arr = [12,45,67,23,89,55,34]
np_arr = np.array(arr)
print("Numpy Array:", np_arr)

Numpy Array: [12 45 67 23 89 55 34]

In [3]:
print("Mean:", np.mean(np_arr))
print("Median:", np.median(np_arr))
print("SD:", np.std(np_arr))

Mean: 46.42857142857143
Median: 45.0
SD: 24.494064253885462

In [8]:
student_data = {
    'Name' : ['Yash', 'Krunal', 'Manish', 'Raj', 'Parshwa'],
    'Marks' : [78,92,66,85,74],
    'Age' : [20, 21, 19, 22, 20]
}

df = pd.DataFrame(student_data)
print("Pandas DataFrame:\n", df)

Pandas DataFrame:
       Name  Marks  Age
0     Yash     78   20
1   Krunal     92   21
2   Manish     66   19
3      Raj     85   22
4  Parshwa     74   20

In [9]:
print("Marks Column:\n", df['Marks'])

Marks Column:
 0    78
1    92
2    66
3    85
4    74
Name: Marks, dtype: int64

In [10]:
print("Pandas Describe Output:", df.describe())

Pandas Describe Output:        Marks        Age
count    5.0   5.000000
mean    79.0  20.400000
std     10.0   1.140175
min     66.0  19.000000
25%     74.0  20.000000
50%     78.0  20.000000
75%     85.0  21.000000
max     92.0  22.000000

In [16]:
marks = df['Marks']

mean_marks = stats.mean(marks)
median_marks = stats.median(marks)
mode_marks = stats.mode(marks)
variance_marks = stats.variance(marks)

print(f"""
    Statistics using 'statistics' library:
    Mean     : {mean_marks}
    Median   : {median_marks}
    Mode     : {mode_marks}
    Variance : {variance_marks}
""")

    Statistics using 'statistics' library:
    Mean     : 79
    Median   : 78
    Mode     : 78
    Variance : 100

In [22]:
print(f"""
------------
Summary:
------------
Mean     : {mean_marks}
Median   : {median_marks}
Mode     : {mode_marks}
Variance : {variance_marks}
SD       : {np.std(np_arr)}
""")
print("Pandas DataFrame:\n", df)

------------
Summary:
------------
Mean     : 79
Median   : 78
Mode     : 78
Variance : 100
SD       : 24.494064253885462

Pandas DataFrame:
       Name  Marks  Age
0     Yash     78   20
1   Krunal     92   21
2   Manish     66   19
3      Raj     85   22
4  Parshwa     74   20